 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  height: 100%;
  text-align: center;
}

header {
  font-family: 'Poppins';
  background-color: black;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

header h1{
  font-size: 4rem;
  font-weight: 800;
  background: linear-gradient(to right, #ff00cc, #3333ff); /* brighter gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

 .main-section {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #060608, #424144);
  padding: 2rem;
}
.choice-box {
  background: white;
  width: 100%;
  max-width: 700px; 
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.choice-box h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn {
  text-decoration: none;
  background-color: #2d2dff;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background (0.3s, transform 0.2s);
}

.btn:hover {
   background-color: #1a1aff;
  transform: scale(1.05);
}

/* upload resume */
.upload-page {
  background: linear-gradient(to right, #1e1e2f, #2c2c54);
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.upload-page .upload-container {
  background: white;
  color: black;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.upload-page h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.upload-page input[type="file"] {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.upload-page button {
  padding: 0.8rem 1.5rem;
  background-color: #2d2dff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.upload-page button:hover {
  background-color: #1a1aff;
}