<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap" rel="stylesheet">
</head>
<body>
 
    <header>
        <h1>🚀 Smart resume builder</h1>
        <p>Create powerful, ATS-friendly resume in minutes</p>
    </header>
    
    <main class="main-section">
        <div class="choice-box">
            <h2>What would you like to do?</h2>
            <div class="buttons">
            <a href="{{ url_for('upload') }}" class="btn">📄 I already have a resume</a>

            <a href="{{ url_for('builder') }}" class="btn">🛠️ Build a new resume</a>

            </div>
        </div>
    </main>

</body>
</html>
